.project {
    display: block;
    border-radius: 5px;
    overflow: hidden;
    width: 33.33%;
    margin: 1rem;

    @include media(lg) {
        width: 50%;
    }

    @include media(md) {
        width: 100%;
    }

    &:hover &__img {
        transform: scale(1.15);
    }

    &__img {
        display: block;
        border-radius: 5px;
        width: 100%;
        transition: transform 0.25s ease-in-out;
    }
}
