.section-projects {
    &__paragraph {
        margin-top: 2rem;

        a {
            color: $blue;
            font-weight: 700;
        }
    }
}

.projects {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;

    @include media(md) {
        flex-direction: column;
    }
}
