.abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.project-wrapper {
    width: 50%;
    padding: 1rem;

    @include media(md) {
        width: 100%;
    }
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &:hover &__img {
        transform: scale(1.1);
    }
    &:hover &__fig {
        opacity: 1;
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &__img {
        display: block;
        width: 100%;
        z-index: 5;
        transition: visibility 0.25s, opacity 0.25s ease-in-out,
            transform 0.25s ease-in-out;
    }
    &__fig {
        @extend .abs;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    &__overlay {
        @extend .abs;
        background-color: $dark-blue;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        z-index: 8;
    }

    &__paragraph {
        color: $white;
        font-size: 2rem;
        text-align: center;
        width: 90%;
        margin: 0 auto 2rem auto;
    }
}
